/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #004d99;
    color: white;
    padding: 10px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 15px;
}

.nav-button {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #0066cc;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.nav-button:hover {
    background-color: #0055aa;
    transform: translateY(-3px);
}

h1, h2 {
    color: #004d99;
}

.text-blue {
    color: #004d99;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Form */
.section {
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input, select {
    flex: 1;
    min-width: 150px;
    padding: 10px;
    border: 2px solid #004d99;
    border-radius: 5px;
    background-color: white;
}

input:focus, select:focus {
    border-color: #0066cc;
}

.export-container {
    position: absolute;
    top: 40px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.export-container button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.table-container {
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th {
    background-color: #004d99;
    color: white;
    text-transform: uppercase;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #004d99;
    color: white;
    padding: 10px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
.logo:hover {
    transform: scale(1.1); 
    color: #66c2ff; 
}

nav {
    display: flex;
    gap: 10px;
}

/*  header buttons */
.nav-button-small {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #0066cc;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.nav-button-small:hover {
    background-color: #0055aa;
    transform: translateY(-2px);
}


.add-filter-button {
    padding: 12px 18px;
    background-color: #0066cc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-filter-button:hover {
    background-color: #0055aa;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

h1, h2 {
    color: #004d99;
}

.text-blue {
    color: #004d99;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Footer styles */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #004d99;
    color: white;
}
